body {
  margin: 0;
  padding: 0;
  background-color: #0c2461;
}

#formContainer {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 7.5px;
}

#formLogin {
  display: block;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

label p {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-block-end: 0em;
  font-family: "Lato", sans-serif;
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#formLoginButton {
  margin: 10px;
  margin-top: 15px;
  width: 161px;
  border: none;
  padding: 5px;
  font-family: "Lato", sans-serif;
}

#formUser {
  font-family: "Lato", sans-serif;
}

#formUser p {
  margin-block-end: 0em;
}

#formUserButton {
  margin: 10px;
  width: 161px;
  border: none;
  padding: 5px;
  font-family: "Lato", sans-serif;
}

#formContainer #formUserBlock {
  display: none;
}

#formUserBlock {
  width: 80%;
  height: 400px;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 7.5px;
  background-color: white;
  animation-name: slideIn;
  position: absolute;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
}

#formUserBlock label p {
  margin-left: 0;
  padding-left: 20px;
}

#formUserBlock input {
  margin-left: 20px;
  width: 70%;
}

.nextStep {
  margin-left: 20px;
  margin-top: 20px;
}

#formUserBlockFormButton {
  width: 158px;
  border: none;
  padding: 5px;
  font-family: "Lato", sans-serif;
}

#formContainer #formUserInfo {
  height: 400px;
  display: none;
  width: 80%;
}

#formUserInfo {
  height: 400px;
  display: none;
  width: 80%;
}

#nemID {
  display: none;
}

#formUserInfo {
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 7.5px;
  background-color: white;
  animation-name: slideIn;
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 2;
}

#formUserInfo label p {
  margin-left: 0;
  padding-left: 20px;
}

#formUserInfo input {
  margin-left: 20px;
  width: 70%;
}

#formUserInfoButton {
  width: 158px;
  border: none;
  padding: 5px;
  font-family: "Lato", sans-serif;
}

#nemID {
  padding: 10px;
  height: 420px;
  width: 75%;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 7.5px;
  background-color: white;
  animation-name: slideIn;
  position: absolute;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes slideIn {
  0% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0px);
  }
}

#nemID p {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
}

.nemIdPlaceholder {
  width: 180px;
  height: 200px;
  background-color: lightgray;
  margin: 10px;
}

.opretBruger {
  width: 158px;
  border: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}

.opretBruger a {
  color: black;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 627px) {
  label p {
    margin-left: 173px;
  }

  #formContainer {
    margin-top: 12px;
    height: 350px;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  #formLogin {
    background-color: white;
    width: 100%;
    height: 310px;
    border-radius: 7.5px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
  }

  #formUserBlock {
    height: 310px;
  }

  #formContainer #formUserInfo {
    height: 310px;
  }

  #formUserBlock input {
    width: 60%;
  }

  #formUserInfo input {
    width: 60%;
  }

  #nemID {
    height: 330px;
  }
}

@media screen and (min-width: 768px) {
  label p {
    margin-left: 230px;
  }

  #formLogin {
    margin-top: 200px;
  }

  #formUserBlock input {
    width: 50%;
  }

  #formUserInfo input {
    width: 50%;
  }

  #formContainer {
    margin-top: 100px;
    height: 450px;
  }

  #formUserBlock {
    margin-top: 100px;
    height: 310px;
  }

  #formUserInfo {
    margin-top: 100px;
    height: 310px;
  }

  #nemID {
    margin-top: 100px;
    height: 330px;
  }
}

@media screen and (min-width: 1024px) {
  label p {
    margin-left: 332px;
  }

  #formContainer {
    width: 70%;
  }

  #formUserBlock {
    width: 70%;
  }
  #formContainer #formUserInfo {
    display: none;
    width: 70%;
  }

  #nemID {
    width: 68%;
  }
}

@media screen and (min-width: 1200px) {
  label p {
    margin-left: 282px;
  }

  #formContainer {
    width: 60%;
  }

  #formUserBlock {
    width: 60%;
  }
  #formContainer #formUserInfo {
    display: none;
    width: 60%;
  }

  #nemID {
    width: 58%;
  }
}

@media screen and (min-width: 1500px) {
  label p {
    margin-left: 298px;
  }

  #formContainer {
    width: 50%;
  }

  #formUserBlock {
    width: 50%;
  }
  #formContainer #formUserInfo {
    display: none;
    width: 50%;
  }

  #nemID {
    width: 48%;
  }
}
