$DisplayFont: "Audiowide", cursive;
$TextFont: "Lato", sans-serif;
$casinoFarve: #a88952;

body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $DisplayFont;
}

p {
  font-family: $TextFont;
}

header {
  width: 100%;
  height: 50px;
  background-color: $casinoFarve;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.dsLogo img {
  width: 35px;
  padding: 7px 10px 10px 20px;
}

.logoDesktop {
  display: none;
}
.casinoLogo img {
  width: 150px;
  padding: 10px;
}

.logInd {
  width: 80px;
  height: 50px;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  font-family: $TextFont;
  color: white;
  font-size: 1.2em;
}

.kampangeBillede {
  // height: 500px;
  height: 200px;
  margin-bottom: 4vw;
  background-image: url(backgroundDesktop.svg);
  background-size: 100%;
}

.alien {
  background-image: url(flyvendealien-01.svg);
  background-size: 100% 100%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50px;
  left: -170px;
  animation-name: alien;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes alien {
  0% {
    transform: translateX(0px) translateY(-60px);
  }
  50% {
    transform: translateY(20px) translateX(120px);
  }
  100% {
    transform: translateX(210px) translateY(30px);
  }
}

.spilNuKnap {
  background-image: url(spilknap-03.svg);
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 140px;
  left: 220px;
  animation-name: scaleknap;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes scaleknap {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.spilNuKnap:hover {
  cursor: pointer;
}

#containerIndhold {
  width: 100%;
}

.textKampange {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8vw;
}

.ikoner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px;
  margin-bottom: 8vw;
}

.ikon {
  width: 40vw;
  margin: 0 auto;
}

#insertMoney img {
  width: 100%;
}

#spinIkon img {
  width: 100%;
}

#payoutIkon img {
  width: 100%;
}

.videoContainer {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 8vw;
}

.video {
  width: 100%;
  height: 250px;
  border: 1px solid blue;
}

footer {
  width: 100%;
  background-color: #a88952;
  padding-top: 2vw;
}

.textContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2vw;
}

.footerLogo {
  width: 180px;
  height: 35px;
  margin-left: 15px;
}

.text {
  width: 44vw;
  height: 150px;
  display: grid;
  margin-bottom: 3vw;
  margin-top: 5vw;
  text-align: center;

  //grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text p {
  margin-block-start: 0em;
}

.textAdresse {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.kontaktKundeservice {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  text-align: center;
}
.kontaktKundeservice p {
  margin-block-start: 0;
}

.kundeserviceKnap {
  height: 40px;
  font-family: $TextFont;
  background-color: white;
  border: none;
}

#footerSponsor {
  background-color: white;
}
.sponsorbar {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sponsor {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
}

.sponsor img {
  width: 100%;
}

.stopSpillet {
  padding-top: 10px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.wlaLogo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

@media screen and (min-width: 627px) {
  .kampangeBillede {
    height: 350px;
  }
  .ikoner {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ikon {
    width: 25vw;
  }
}

@media screen and (min-width: 768px) {
  .kampangeBillede {
    height: 400px;
  }

  .ikon {
    width: 150px;
    height: 150px;
  }

  .ikoner {
    margin-bottom: 4vw;
  }

  .videoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .textContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .text {
    width: 20vw;
    text-align: left;
    margin-top: 0vw;
  }

  .textAdresse {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
  }

  .kontaktKundeservice {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    text-align: left;
  }

  .footerLogo {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .textKampange {
    width: 80%;
  }

  .ikoner {
    width: 80%;
    grid-gap: 25px;
  }

  .ikon {
    width: 18vw;
    height: 18vw;
  }

  .videoContainer {
    width: 80%;
  }

  .textContainer {
    width: 80%;
  }

  .sponsorbar {
    width: 60%;
  }
}
