$DisplayFont: "Oswald", sans-serif;
$TextFont: "Lato", sans-serif;
@import "spil.scss";
@import "form.scss";
@import "index.scss";
$MainRed: #ff5c3c;
$MainOrange: #fd8f07;
$MainGreen: #05c46b;
$MainBlue: #00c2cc;
$MainPurple: #8e44ad;
$MainDarkBlue: #0c2461;
$MainYellow: #ffd32a;
