.reset, body {
  margin: 0;
  padding: 0;
}

#wheelArea {
  width: 70vw;
  height: 70vh;
  background-color: lightgrey;
  position: absolute;
  top: 10vw;
  left: 15vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#wheelArea .hjul {
  background-color: #0c2461;
  transform: scale(0.95);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#wheelArea .hjul .displayCase {
  border: black solid 2px;
}

#formContainer {
  width: 40vw;
  height: 80vh;
  background-color: grey;
  position: absolute;
  left: 30vw;
}
