.reset, body, #gevinst p, #formContainer #formLogin #loginButtons #formUser p {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

#baggrund {
  transform: scale(1.2);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#baggrund img {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#frame {
  width: 51vw;
  height: 62vh;
  position: absolute;
  top: 9vw;
  left: 25vw;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
}

#baggrundFrame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vw;
  left: 0;
  z-index: 3;
}

#baggrundFrame img {
  width: 97vw;
  height: 100vh;
  z-index: 4;
  transform: scale(1.1);
}

#spilOverlay {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(0.65);
  z-index: 4;
}

#startSpil {
  position: absolute;
  left: 45.5vw;
  bottom: -0.5vw;
  z-index: 4;
  transform: scale(0.9);
}

#autoPlay {
  position: absolute;
  bottom: 1vw;
  right: 38vw;
  z-index: 10;
}

#autoPlaytext {
  position: absolute;
  color: white;
  bottom: 2vw;
  right: 39.7vw;
  z-index: 110;
  font-family: "Oswald", sans-serif;
  font-size: 1.8em;
  pointer-events: none;
}

#satsLabel {
  color: white;
  position: absolute;
  bottom: 2vw;
  left: 32vw;
  z-index: 10;
}

#satsLabel h2 {
  position: absolute;
  top: 0vw;
  left: 1vw;
}

#satsLabel input {
  top: 3vw;
  left: 1vw;
  position: absolute;
  width: 5vw;
  transform: scale(1.1);
}

#saldoFelt {
  color: white;
  position: absolute;
  bottom: 2vw;
  left: 18vw;
  z-index: 10;
}

#saldoFelt h2 {
  position: absolute;
  top: 0vw;
  left: 1vw;
}

#saldoFelt #saldoText {
  position: absolute;
  top: 2vw;
  left: 1vw;
}

#gevinstBorder {
  position: absolute;
  width: 11vw;
  height: 2vw;
  bottom: 5vw;
  right: 20vw;
  z-index: 10;
}

#gevinst p {
  color: white;
  margin: 1vw;
  transform: translate(3vw, -5.3vw) scale(1.5);
  z-index: 11;
}

#wheelArea {
  z-index: 2;
  width: 70vw;
  height: 70vh;
  transform: scale(0.745);
  position: absolute;
  top: 4vw;
  left: 15vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.4vw;
}

#wheelArea .wheel {
  z-index: 3;
  display: grid;
  grid-gap: 1.1vw;
  grid-template-columns: 1fr;
}

#wheelArea .wheel .displayCaseDiv {
  width: 100%;
  height: 13vw;
  z-index: 2;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw;
  margin: 4vw;
}

.modal .container img {
  width: 15vw;
  animation: puls 0.5s infinite alternate;
}

@keyframes puls {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.dot {
  background-color: #00c2cc;
  border-radius: 50%;
  position: absolute;
}

#myBtn {
  position: absolute;
  z-index: 10;
}

.text {
  transform: translateY(4vw);
  width: 10vw;
  height: 3vw;
}

.text .victoryText {
  text-align: center;
  margin-top: 3vw;
}

.text #modalGevinst2,
.text #modalGevinst1,
.text #modalGevinst3 {
  text-align: center;
  margin-top: 0vw;
  font-size: 2em;
}

.storGevinst {
  background-color: #f9a602;
  color: black;
}

.mellemGevinst {
  background-color: #c0c0c0;
  color: black;
}

.lilleGevinst {
  background-color: #cd7f32;
  color: black;
}

.nitte {
  color: black;
  background-color: white;
}

#formContainer {
  width: 40vw;
  height: 80vh;
  background-color: lightgray;
  position: absolute;
  left: 30vw;
  top: 5vw;
}

#formContainer #formLogin {
  display: block;
}

#formContainer #formLogin #loginInfo {
  height: 11vw;
  margin-top: 2vw;
}

#formContainer #formLogin #loginInfo p {
  margin-left: 7.5vw;
  margin-bottom: 2px;
  font-family: "Oswald", sans-serif;
}

#formContainer #formLogin #loginInfo #formUsername {
  width: 25vw;
  height: 2vw;
  box-sizing: border-box;
  border: none;
  border-bottom: solid black 2px;
  margin-left: 7.5vw;
  padding-left: 1vw;
  margin-bottom: 1vw;
  font-family: "Lato", sans-serif;
}

#formContainer #formLogin #loginInfo #formUsername:focus {
  outline: none;
  border: solid 2px black;
}

#formContainer #formLogin #loginInfo #formPassword {
  width: 25vw;
  height: 2vw;
  border: none;
  border-bottom: solid 2px black;
  margin-left: 7.5vw;
  padding-left: 1vw;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#formContainer #formLogin #loginInfo #formPassword:focus {
  outline: none;
  border: solid 2px black;
}

#formContainer #formLogin #loginButtons {
  width: 40vw;
  box-sizing: border-box;
  height: 53vh;
}

#formContainer #formLogin #loginButtons #loginButton #formLoginButton {
  width: 25vw;
  margin-left: 7.5vw;
  border: none;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#formContainer #formLogin #loginButtons #formUser {
  margin-top: 5vw;
}

#formContainer #formLogin #loginButtons #formUser p {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
}

#formContainer #formLogin #loginButtons #formUser #formUserButton {
  border: none;
  margin-left: 7.5vw;
  border-radius: 3px;
  width: 25vw;
  background-color: grey;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#formContainer #formUserBlock {
  display: none;
}

#formContainer #formUserBlock #formUserBlockFormButton {
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  width: 10vw;
  height: 2vw;
  font-family: "Oswald", sans-serif;
}

#formContainer #formUserBlock p {
  font-family: "Oswald", sans-serif;
  margin-left: 0.5vw;
  margin-bottom: 0;
  font-size: 1.4em;
}

#formContainer #formUserBlock input {
  width: 20vw;
  height: 2vw;
  margin: 0.5vw;
  margin-top: 0;
  padding-left: 1vw;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.75);
}

#formContainer #formUserInfo {
  height: 100%;
  display: none;
}

#formContainer #formUserInfo #formUserInfoButton {
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  width: 10vw;
  height: 2vw;
  font-family: "Oswald", sans-serif;
}

#formContainer #formUserInfo p {
  font-family: "Oswald", sans-serif;
  margin-left: 0.5vw;
  margin-bottom: 0;
  font-size: 1.4em;
}

#formContainer #formUserInfo input {
  width: 20vw;
  height: 2vw;
  margin: 0.5vw;
  margin-top: 0;
  padding-left: 1vw;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.75);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Audiowide", cursive;
}

p {
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: #a88952;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.dsLogo img {
  width: 35px;
  padding: 7px 10px 10px 20px;
}

.logoDesktop {
  display: none;
}

.casinoLogo img {
  width: 150px;
  padding: 10px;
}

.logInd {
  width: 80px;
  height: 50px;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.2em;
}

.kampangeBillede {
  height: 200px;
  margin-bottom: 4vw;
  background-image: url(backgroundDesktop.svg);
  background-size: 100%;
}

.alien {
  background-image: url(flyvendealien-01.svg);
  background-size: 100% 100%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50px;
  left: -170px;
  animation-name: alien;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes alien {
  0% {
    transform: translateX(0px) translateY(-60px);
  }
  50% {
    transform: translateY(20px) translateX(120px);
  }
  100% {
    transform: translateX(210px) translateY(30px);
  }
}

.spilNuKnap {
  background-image: url(spilknap-03.svg);
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 140px;
  left: 220px;
}

#containerIndhold {
  width: 100%;
}

.textKampange {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8vw;
}

.ikoner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px;
  margin-bottom: 8vw;
}

.ikon {
  width: 40vw;
  margin: 0 auto;
}

#insertMoney img {
  width: 100%;
}

#spinIkon img {
  width: 100%;
}

#payoutIkon img {
  width: 100%;
}

.videoContainer {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 8vw;
}

.video {
  width: 100%;
  height: 250px;
  border: 1px solid blue;
}

footer {
  width: 100%;
  background-color: #a88952;
  padding-top: 2vw;
}

.textContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2vw;
}

.footerLogo {
  width: 180px;
  height: 35px;
  margin-left: 15px;
}

.text {
  width: 44vw;
  height: 150px;
  display: grid;
  margin-bottom: 3vw;
  margin-top: 5vw;
  text-align: center;
}

.text p {
  margin-block-start: 0em;
}

.textAdresse {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.kontaktKundeservice {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.kontaktKundeservice p {
  margin-block-start: 0;
}

.kundeserviceKnap {
  height: 40px;
  font-family: "Lato", sans-serif;
  background-color: white;
  border: none;
}

#footerSponsor {
  background-color: white;
}

.sponsorbar {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sponsor {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
}

.sponsor img {
  width: 100%;
}

.stopSpillet {
  padding-top: 10px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.wlaLogo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

@media screen and (min-width: 627px) {
  .kampangeBillede {
    height: 350px;
  }
  .ikoner {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ikon {
    width: 25vw;
  }
}

@media screen and (min-width: 768px) {
  .kampangeBillede {
    height: 400px;
  }
  .ikon {
    width: 150px;
    height: 150px;
  }
  .ikoner {
    margin-bottom: 4vw;
  }
  .videoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .textContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .text {
    width: 20vw;
    text-align: left;
    margin-top: 0vw;
  }
  .textAdresse {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
  }
  .kontaktKundeservice {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    text-align: left;
  }
  .footerLogo {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .textKampange {
    width: 80%;
  }
  .ikoner {
    width: 80%;
    grid-gap: 25px;
  }
  .ikon {
    width: 18vw;
    height: 18vw;
  }
  .videoContainer {
    width: 80%;
  }
  .textContainer {
    width: 80%;
  }
  .sponsorbar {
    width: 60%;
  }
}
