$DisplayFont: "Oswald", sans-serif;
$TextFont: "Lato", sans-serif;

$MainRed: #ff5c3c;
$MainOrange: #fd8f07;
$MainGreen: #05c46b;
$MainBlue: #00c2cc;
$MainPurple: #8e44ad;
$MainDarkBlue: #0c2461;
$MainYellow: #ffd32a;
.reset {
  margin: 0;
  padding: 0;
}
body {
  @extend .reset;
  overflow-y: hidden;
}
#baggrund {
  transform: scale(1.2);
  position: absolute;
  width: 100vw;
  height: 100vh;
  img {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}
#frame {
  width: 51vw;
  height: 62vh;
  position: absolute;
  top: 9vw;
  left: 25vw;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
}
#baggrundFrame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vw;
  left: 0;
  z-index: 3;

  img {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    transform: scale(1.1);
  }
}
#spilOverlay {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(0.65);
  z-index: 4;
}
#startSpil {
  position: absolute;

  left: 45.5vw;
  bottom: -0.5vw;

  z-index: 4;
  transform: scale(0.9);
}
#autoPlay {
  display: none;
  position: absolute;
  width: 5vw;
  height: 2vw;
  background-color: white;
  border: solid black 2px;
  left: 2vw;
  top: 4vw;
  p {
    @extend .reset;
    text-align: center;
  }
}

#satsLabel {
  position: absolute;
  top: 6vw;
  left: 2vw;
}
#saldoFelt {
  position: absolute;
  top: 10vw;
  left: 2vw;
}
#gevinst {
  position: absolute;
  top: 14vw;
  left: 2vw;
}

#wheelArea {
  z-index: 2;
  width: 70vw;
  height: 70vh;
  transform: scale(0.745);
  position: absolute;
  top: 4vw;
  left: 15vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.4vw;

  .wheel {
    z-index: 2;
    display: grid;
    grid-gap: 1.1vw;
    grid-template-columns: 1fr;

    .displayCaseDiv {
      height: 13vw;
      z-index: 2;
    }
  }
}
