$DisplayFont: "Oswald", sans-serif;
$TextFont: "Lato", sans-serif;

$MainRed: #ff5c3c;
$MainOrange: #fd8f07;
$MainGreen: #05c46b;
$MainBlue: #00c2cc;
$MainPurple: #8e44ad;
$MainDarkBlue: #0c2461;
$MainYellow: #ffd32a;
.reset {
  margin: 0;
  padding: 0;
}
body {
  @extend .reset;
  overflow-y: hidden;
}
#spilOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(0.65);
  z-index: 2;
}
#startSpil {
  position: absolute;
  width: 5vw;
  height: 2vw;
  background-color: white;
  border: solid black 2px;
  left: 2vw;
  top: 2vw;
  p {
    @extend .reset;
    text-align: center;
  }
}

#wheelArea {
  z-index: 1;
  width: 70vw;
  height: 70vh;
  transform: scale(0.745);
  position: absolute;
  top: 4vw;
  left: 15vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.4vw;

  .wheel {
    display: grid;
    grid-gap: 1.1vw;
    grid-template-columns: 1fr;

    .displayCaseDiv {
      width: 70vw /5;
      height: 13vw;
    }
  }
}
